Repository Central-MakeUs/Spark-Front, pull requests merged in 2025-02, with the labels that each got.

#22 chore: 자동 push를 위한 Create main.yml
  .github/workflows/main.yml
  build.sh
  spark-web/vercel.json
Labels: chore

#28 Feat:setting UI
  spark-web/src/assets/svg/logo/InstaGram.tsx
  spark-web/src/domains/Login/components/LocationMove.tsx
  spark-web/src/pages/Setting.tsx
  spark-web/src/shared/ui/components/Divider.tsx
  spark-web/src/shared/ui/index.ts
Labels: feat

#30 Feat: 로그인 페이지 api 연결
  spark-web/.env.example
  spark-web/.gitignore
  spark-web/package-lock.json
  spark-web/package.json
  spark-web/src/app/api/axiosClient.ts
  spark-web/src/app/api/httpClient.ts
  spark-web/src/app/provider/Provider.tsx
  spark-web/src/app/provider/QuerySuspenseBoundary.tsx
  spark-web/src/app/router/App.tsx
  spark-web/src/assets/login/channel_login.gif
  spark-web/src/assets/login/channel_login.json
  spark-web/src/domains/Login/hooks/useAuthToken.ts
  spark-web/src/domains/Login/hooks/useGoogleAuth.ts
  spark-web/src/domains/Login/model/type.ts
  spark-web/src/domains/Login/service/handler.ts
  spark-web/src/domains/Login/service/queryOption.ts
  spark-web/src/main.tsx
  spark-web/src/pages/Login.tsx
  spark-web/src/pages/Oauth.tsx
  spark-web/src/shared/lib/index.ts
  spark-web/src/shared/lib/storage.ts
Labels: feat

#32 Chore: font 파일 적용 및 최적화
  spark-web/index.html
  spark-web/public/font/SUIT-Bold.woff2
  spark-web/public/font/SUIT-ExtraBold.woff2
  spark-web/public/font/SUIT-Heavy.woff2
  spark-web/public/font/SUIT-Light.woff2
  spark-web/public/font/SUIT-Medium.woff2
  spark-web/public/font/SUIT-Regular.woff2
  spark-web/public/font/SUIT-SemiBold.woff2
  spark-web/public/font/SUIT-Thin.woff2
  spark-web/src/index.css
  spark-web/tailwind.config.js
Labels: feat, chore

#52 Feat: api 커스텀 훅 제작
  src/domains/GrowthPrediction/components/GrowthPredictionFunnel.tsx
  src/domains/GrowthPrediction/hooks/useGrowthPredictionQuery.ts
  src/domains/GrowthPrediction/model/type.ts
  src/domains/GrowthPrediction/service/handler.ts
  src/domains/GrowthPrediction/service/queryOption.ts
  src/domains/Popular/hooks/usePopularQuery.ts
  src/domains/Popular/model/type.ts
  src/domains/Popular/service/handler.ts
  src/domains/Popular/service/queryOption.ts
  src/domains/Strategy/hooks/useStrategy.ts
  src/domains/Strategy/model/type.ts
  src/domains/Strategy/service/handler.ts
  src/domains/StrengthWeakness/components/ProgressBar.tsx
  src/domains/StrengthWeakness/components/StrengthWeaknessFunnel.tsx
  src/domains/StrengthWeakness/hooks/useStrengthWeakStatsQuery.ts
  src/domains/StrengthWeakness/model/type.ts
  src/domains/StrengthWeakness/service/handler.ts
  src/domains/StrengthWeakness/service/queryOption.ts
  src/pages/GrowthPrediction.tsx
  src/pages/StrengthWeakness.tsx
Labels: feat

#53 feat: 채널 옵션을 저장하는 훅 추가
  src/domains/Home/hooks/useChannelOption.ts
Labels: feat

#56 feat: Onboarding 페이지 완료
  src/assets/animation/onBoarding2.json
  src/assets/onboarding/onboarding1_youtube.png
  src/assets/onboarding/onboarding2_strategies.png
  src/domains/Detail/components/TopPage.tsx
  src/domains/onBoarding/components/OnBoardingFrame.tsx
  src/pages/Home.tsx
  src/pages/OnBoarding.tsx
  src/shared/ui/layout/PageLayout.tsx
Labels: feat, chore

#61 feat: analys 완료 후 페이지 네비게이팅 구현
  src/domains/Analysis/components/DataFetchComponents.tsx
Labels: feat

#62 feat: 에러 추적
  src/domains/Strategy/hooks/useStrategy.ts
  src/domains/Strategy/service/handler.ts
  src/pages/Strategy.tsx
Labels: feat
