Repository Central-MakeUs/Spark-Front, pull requests merged in 2025-01, with the labels that each got.

#5 chore: template 설정 수정 및 vscode 통일화
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/pull_request_template.md
  .vscode/extensions.json
  .vscode/setting.json
Labels: chore

#7 Chore: router 세팅
  .vscode/setting.json
  spark-web/eslint.config.mjs
  spark-web/package-lock.json
  spark-web/package.json
  spark-web/src/App.css
  spark-web/src/App.tsx
  spark-web/src/api/api.ts
  spark-web/src/app/api/api.ts
  spark-web/src/app/api/type.ts
  spark-web/src/app/provider/Provider.tsx
  spark-web/src/app/provider/QuerySuspenseBoundary.tsx
  spark-web/src/app/provider/index.ts
  spark-web/src/app/router/App.tsx
  spark-web/src/app/router/BottomNavigationLayout.tsx
  spark-web/src/app/router/PageLayout.tsx
  spark-web/src/app/router/ProtectedRoute.tsx
  spark-web/src/app/router/index.ts
  spark-web/src/domains/Home/components/index.ts
  spark-web/src/domains/Home/hooks/index.ts
  spark-web/src/domains/Home/service/index.ts
  spark-web/src/index.css
  spark-web/src/loading.tsx
  spark-web/src/main.tsx
  spark-web/src/pages/Analysis.tsx
  spark-web/src/pages/Detail.tsx
  spark-web/src/pages/GrowthPrediction.tsx
  spark-web/src/pages/Home.tsx
  spark-web/src/pages/OnBoarding.tsx
  spark-web/src/pages/Popular.tsx
  spark-web/src/pages/Result.tsx
  spark-web/src/pages/Strategy.tsx
  spark-web/src/pages/StrengthWeakness.tsx
  spark-web/src/pages/UserInfo.tsx
  spark-web/src/provider.tsx
  spark-web/src/shared/GlobalLayout.tsx
  spark-web/src/shared/ui/GlobalLayout.tsx
  spark-web/src/shared/ui/index.ts
  spark-web/tsconfig.app.json
  spark-web/vite.config.ts
Labels: feat

#6 chore: 템플릿 에러 수정 및 ci 구축
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/assign.yml
  .github/labeler.yml
  .github/workflows/assign-issue-number.yml
  .github/workflows/assign.yml
  .github/workflows/label.yml
  .github/workflows/slack-notify-pr.yml
  spark-web/eslint.config.mjs
Labels: chore

#9 공통 컴포넌트 구현
  spark-web/README.md
  spark-web/package-lock.json
  spark-web/package.json
  spark-web/postcss.config.js
  spark-web/src/app/api/api.ts
  spark-web/src/app/api/type.ts
  spark-web/src/app/provider/Provider.tsx
  spark-web/src/assets/svg/LargeClose.svg
  spark-web/src/assets/svg/sparkIcon.svg
  spark-web/src/colors.ts
  spark-web/src/domains/UserInformation/components/FirstDialogbox.tsx
  spark-web/src/domains/UserInformation/components/LastDialogbox.tsx
  spark-web/src/domains/UserInformation/components/UserDialogbox.tsx
  spark-web/src/domains/UserInformation/questions.ts
  spark-web/src/shared/components/BottomSheetModal/BottomSheetModal.tsx
  spark-web/src/shared/components/BottomSheetModal/items/CustomHeader.tsx
  spark-web/src/shared/components/Buttons/Buttons.tsx
  spark-web/src/shared/components/Chips/PrimaryChips.tsx
  spark-web/svg.d.ts
  spark-web/tailwind.config.js
  spark-web/tsconfig.app.json
  spark-web/vite.config.ts
Labels: feat

#10 feat: 사용자 정보기입 페이지 구현
  spark-web/package.json
  spark-web/src/domains/UserInformation/components/FirstDialogbox.tsx
  spark-web/src/domains/UserInformation/components/Footers/FulltimeParttime.tsx
  spark-web/src/domains/UserInformation/components/Footers/SNSGoal.tsx
  spark-web/src/domains/UserInformation/components/LastDialogbox.tsx
  spark-web/src/domains/UserInformation/components/Questionbox.tsx
  spark-web/src/domains/UserInformation/components/SheetContent.tsx
  spark-web/src/domains/UserInformation/components/UserInformationProfiles.tsx
  spark-web/src/pages/UserInfo.tsx
  spark-web/src/shared/components/BottomSheetModal/BottomSheetModal.tsx
  spark-web/src/shared/components/Buttons/Button.tsx
  spark-web/src/shared/components/Buttons/Buttons.tsx
Labels: feat

#12 feat: bottomNavigationLayout 구현 및 lefthook 설정 수정
  lefthook.yml
  spark-web/src/app/api/api.ts
  spark-web/src/app/provider/index.ts
  spark-web/src/app/router/App.tsx
  spark-web/src/app/router/BottomNavigationLayout.tsx
  spark-web/src/app/router/index.ts
  spark-web/src/assets/react.svg
  spark-web/src/assets/svg/HomeIcon.tsx
  spark-web/src/assets/svg/LargeClose.svg
  spark-web/src/assets/svg/LargeClose.tsx
  spark-web/src/assets/svg/SettingIcon.tsx
  spark-web/src/assets/svg/SparkIcon.tsx
  spark-web/src/assets/svg/sparkIcon.svg
  spark-web/src/domains/UserInformation/components/SheetContent.tsx
  spark-web/src/domains/UserInformation/components/UserDialogbox.tsx
  spark-web/src/domains/UserInformation/components/UserInformationProfiles.tsx
  spark-web/src/main.tsx
  spark-web/src/pages/Setting.tsx
  spark-web/src/pages/UserInfo.tsx
  spark-web/src/shared/components/BottomSheetModal/BottomSheetModal.tsx
  spark-web/src/shared/components/BottomSheetModal/items/CustomHeader.tsx
  spark-web/src/shared/ui/index.ts
Labels: feat

#13 Feat: Card & Text & NavigationHeader 구현
  spark-web/package-lock.json
  spark-web/package.json
  spark-web/src/app/router/App.tsx
  spark-web/src/assets/Avatar/Avatar.tsx
  spark-web/src/assets/logo/Logo.tsx
  spark-web/src/assets/nav/BackIcon.tsx
  spark-web/src/assets/nav/CloseIcon.tsx
  spark-web/src/assets/nav/HomeIcon.tsx
  spark-web/src/assets/nav/SettingIcon.tsx
  spark-web/src/assets/svg/LargeClose.tsx
  spark-web/src/assets/svg/SparkIcon.tsx
  spark-web/src/colors.ts
  spark-web/src/domains/UserInformation/components/Footers/FulltimeParttime.tsx
  spark-web/src/domains/UserInformation/components/Footers/SNSGoal.tsx
  spark-web/src/domains/UserInformation/components/SheetContent.tsx
  spark-web/src/pages/UserInfo.tsx
  spark-web/src/shared/components/Buttons/index.tsx
  spark-web/src/shared/components/Chips/index.tsx
  spark-web/src/shared/components/NavigationHeader/index.tsx
  spark-web/src/shared/components/RouteMove/index.tsx
  spark-web/src/shared/components/index.ts
  spark-web/src/shared/hooks/index.ts
  spark-web/src/shared/hooks/useMoveLocation.ts
  spark-web/src/shared/ui/components/Card.tsx
  spark-web/src/shared/ui/components/Text.tsx
  spark-web/src/shared/ui/index.ts
  spark-web/src/shared/ui/layout/BottomNavigationLayout.tsx
  spark-web/src/shared/ui/layout/GlobalLayout.tsx
  spark-web/src/shared/ui/layout/PageLayout.tsx
  spark-web/src/shared/ui/layout/ProtectedLayout.tsx
Labels: feat, chore, refactor
